@model Learny.ViewModels.ModuleActivityViewModel
@using Learny.Settings

@{
    ViewBag.Title = "Aktivitet";
}

@Html.Action("NavigationLinks", "Home", new { idType = Learny.Controllers.HomeController.IdType.Module, id = Model.CourseModuleId })

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-8">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <span class="panelHeader">Aktivitet: @Html.DisplayFor(model => model.Name)</span>

                    @if (Request.IsAuthenticated && User.IsInRole(RoleName.teacher))
                    {
                        <span class="pull-right">
                            @Html.ActionLink("Ändra", "Edit", new { id = Model.Id })
                        </span>
                    }
                </div>

                <div class="panel-body">

                    <h5>@Html.DisplayFor(model => model.ActivityTypeName)</h5>

                    <p>@Html.DisplayFor(model => model.Description)</p>

                    <p>
                        @Html.DisplayNameFor(model => model.StartDate):
                        @Html.DisplayFor(model => model.StartDate)
                        <br />
                        @Html.DisplayNameFor(model => model.EndDate):
                        @Html.DisplayFor(model => model.EndDate)
                    </p>

                </div>

            </div>
        </div>

            <div class="col-sm-1">
                @*Empty column*@
            </div>

            @if (Model.HaveDocuments || User.IsInRole(RoleName.teacher))
            {
                <div class="col-sm-4">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            Dokument
                            @if (Request.IsAuthenticated && User.IsInRole(RoleName.teacher))
                            {
                                <span class="pull-right">
                                    @Html.ActionLink("Lägg till dokument", "UploadDocument", "Document", new { activityId = Model.Id }, null)
                                </span>
                            }
                        </div>

                        <div class="panel-body">
                            @Html.Action("Documents", "Document", new { activityId = Model.Id })
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>

