@model Learny.ViewModels.ModuleActivityViewModel
@using Learny.Settings


@{
    ViewBag.Title = "Aktivitet";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">

<h5>Kurs: @Html.ActionLink(Model.CourseName, "Details", "Courses", new { id = Model.CourseId}, null)  Modul: @Html.ActionLink(Model.ModuleName, "Details", "CourseModules", new { id = Model.CourseModuleId }, null)</h5>

<h5>@Html.DisplayFor(model => model.ActivityTypeName)</h5>
<h2>@Html.DisplayFor(model => model.Name)</h2>

            <p>@Model.Description</p>

            <p>
                @Html.DisplayNameFor(model => model.StartDate):
                @Html.DisplayFor(model => model.StartDate)
                <br />
                @Html.DisplayNameFor(model => model.EndDate):
                @Html.DisplayFor(model => model.EndDate)
            </p>

            @if (Request.IsAuthenticated && User.IsInRole(RoleName.teacher))
            {
                <p>
                    @Html.ActionLink("Tillbaka till modulen", "Details", "CourseModules", new { Id = Model.CourseModuleId }, null) |
                    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id })
                </p>
            }
            else
            {
                <p>
                    @Html.ActionLink("Tillbaka till modulen", "Details", "CourseModules", new { Id = Model.CourseModuleId }, null)
                </p>
            }


        </div>
            <div class="col-sm-6">

                <h2>Dokument</h2>
                @if (Request.IsAuthenticated && User.IsInRole(RoleName.teacher))
            {
                    <p>@Html.ActionLink("Lägg till dokument", "UploadDocument", "Document", new { activityId = Model.Id }, null)</p>
                }
                @Html.Action("Documents", "Document", new { activityId = Model.Id })
            </div>


        </div>
    </div>
