@model Learny.ViewModels.ModelAcivityCreateViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<h3>Beskrivning</h3>
<p>@Model.Description</p>

<p>
    @Html.DisplayNameFor(model => model.StartDate):
    @Html.DisplayFor(model => model.StartDate)
    <br />
    @Html.DisplayNameFor(model => model.EndDate):
    @Html.DisplayFor(model => model.EndDate)
</p>

<p>
    @Html.ActionLink("Tillbaka till modulen", "Details", "CourseModules", new { Id = Model.CourseModuleId }, null)
</p>
