@model Learny.Models.CourseModule

@{
    ViewBag.Title = "Ta bort";
    bool allowDelete = true;
    if (Model.Documents.Count > 0)
    {
        allowDelete = false;
    }
    else
    {
        foreach (var item in Model.Activities)
        {
            if (item.Documents.Count > 0)
            {
                allowDelete = false;
                break;
            }
        }
    }
    int nrOfDocuments = 0;
    if (!allowDelete)
    {
        nrOfDocuments += Model.Documents.Count;
        foreach (var activity in Model.Activities)
        {
            nrOfDocuments += activity.Documents.Count;
        }
    }
}


<div class="panel panel-default">

    <div class="panel-heading">
        <h3>
            Är du säker på att du vill ta bort den här modulen?
            <br />
            Alla aktiviteter kommer också tas bort.
        </h3>
    </div>

    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>            @Html.DisplayNameFor(model => model.Course)        </dt>
            <dd>            @Html.DisplayFor(model => model.Course.FullCourseName)        </dd>

            <dt>&nbsp;</dt>
            <dd></dd>

            <dt>            @Html.DisplayNameFor(model => model.Name)        </dt>
            <dd>            @Html.DisplayFor(model => model.Name)        </dd>

            <dt>            @Html.DisplayNameFor(model => model.Description)        </dt>
            <dd>            @Html.DisplayFor(model => model.Description)        </dd>

            <dt>            @Html.DisplayNameFor(model => model.StartDate)        </dt>
            <dd>            @Html.DisplayFor(model => model.StartDate)        </dd>

            <dt>            @Html.DisplayNameFor(model => model.EndDate)        </dt>
            <dd>            @Html.DisplayFor(model => model.EndDate)        </dd>

            <dt>&nbsp;</dt>
            <dd></dd>

            <dt>            Antal aktiviteter        </dt>
            <dd>            @Html.DisplayFor(model => model.Activities.Count)        </dd>

            <dt>            Antal dokument        </dt>
            <dd>            @nrOfDocuments        </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @if (allowDelete)
                {
                    <input type="submit" value="Ta bort" class="btn btn-default" />
                }
                else
                {
                    <input type="submit" value="Ta bort" class="btn btn-default" disabled />
                }
                |
                @Html.ActionLink("Tillbaka", "Details", new { id = Model.Id })
                @if (!allowDelete)
                {
                    <br /><br />
                    <div class="alert alert-danger">
                        <span>Den här modulen eller dess aktiviteter har @nrOfDocuments dokument.</span>
                    </div>
                }
            </div>
        }
    </div>
</div>
