@model Learny.ViewModels.ModuleViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<p>
    @Html.DisplayFor(model => model.Description)
</p>

<p>
    @Html.DisplayNameFor(model => model.StartDate):
    @Html.DisplayFor(model => model.StartDate)
    <br />
    @Html.DisplayNameFor(model => model.EndDate):
    @Html.DisplayFor(model => model.EndDate)
</p>

<ul>
    @foreach (var item in Model.Activities)
    {
        <li>@Html.ActionLink(item.Name, "Details", "ModuleActivities", new { id = item.Id }, null)</li>
    }
</ul>

<p>
    @Html.ActionLink("Tillbaka till kursen", "Details", "Courses", new { Id = Model.CourseId}, null) |
    @Html.ActionLink("Lägg till aktivitet", "Create", "ModuleActivities", new { Id = Model.Id }, null)
</p>
