@model Learny.ViewModels.ModuleViewModel
@using Learny.Settings

@{
    ViewBag.Title = "Details";
}

<h5>Kurs: @Html.ActionLink(Model.FullCourseName, "Details", "Courses", new { id = Model.CourseId }, null)</h5>

<h2>@Html.DisplayFor(model => model.Name)</h2>

<p>
    @Html.DisplayFor(model => model.Description)
</p>

<p>
    @Html.DisplayNameFor(model => model.StartDate):
    @Html.DisplayFor(model => model.StartDate)
    <br />
    @Html.DisplayNameFor(model => model.EndDate):
    @Html.DisplayFor(model => model.EndDate)
</p>

<ul>
    @foreach (var item in Model.Activities)
    {
        <li>@Html.DisplayFor(modelItem => item.ActivityType.Name):  @Html.ActionLink(item.Name, "Details", "ModuleActivities", new { id = item.Id }, null)</li>
    }
</ul>

    @if (Request.IsAuthenticated && User.IsInRole(RoleName.teacher))
    {
        <p>
            @Html.ActionLink("Tillbaka till kursen", "Details", "Courses", new { Id = Model.CourseId }, null)
            |
            @Html.ActionLink("Lägg till aktivitet", "Create", "ModuleActivities", new { Id = Model.Id }, null)
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Tillbaka till kursen", "Details", "Courses", new { Id = Model.CourseId }, null)
        </p>
    }
