@model Learny.ViewModels.ModuleViewModel
@using Learny.Settings

@{
    ViewBag.Title = "Details";
}

<h5>Kurs: @Html.ActionLink(Model.FullCourseName, "Details", "Courses", new { id = Model.CourseId }, null)</h5>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2>@Html.DisplayFor(model => model.Name)</h2>

            <p>
                @Html.DisplayFor(model => model.Description)
            </p>

            <p>
                @Html.DisplayNameFor(model => model.StartDate):
                @Html.DisplayFor(model => model.StartDate)
                <br />
                @Html.DisplayNameFor(model => model.EndDate):
                @Html.DisplayFor(model => model.EndDate)
            </p>
        </div>



        @if (Request.IsAuthenticated && User.IsInRole(RoleName.teacher))
            {
            <p>
                @Html.ActionLink("Ändra", "Edit", new { id = Model.Id })
            </p>
        }

    </div>
    <div class="row">

        <div class="col-sm-6">
            <h2>Aktiviteter</h2>
            @if (Request.IsAuthenticated && User.IsInRole(RoleName.teacher))
            {
                <p>@Html.ActionLink("Lägg till aktivitet", "Create", "ModuleActivities", new { Id = Model.Id }, null)</p>
            }
            <ul>
                @foreach (var item in Model.Activities)
            {
                    <li>@Html.DisplayFor(modelItem => item.ActivityType.Name):  @Html.ActionLink(item.Name, "Details", "ModuleActivities", new { id = item.Id }, null)</li>
                }
            </ul>
        </div>

        <div class="col-sm-6">
            <h2>Dokument</h2>
            @if (Request.IsAuthenticated && User.IsInRole(RoleName.teacher))
                {
                <p>@Html.ActionLink("Lägg till dokument", "UploadDocument", "Document", new { moduleId = Model.Id }, null)</p>
            }
            @Html.Action("Documents", "Document", new { moduleId = Model.Id })
        </div>

    </div>
</div>
