@model Learny.ViewModels.TeacherViewModel
@using Learny.Settings

@{
    ViewBag.Title = "Lärare";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">

            <h2>@Html.DisplayFor(model => model.Name)</h2>
            
            <p>
                @Html.DisplayNameFor(model => model.Name):
                @Html.DisplayFor(model => model.Name)
                <br />
                @Html.DisplayNameFor(model => model.Email):
                @Html.DisplayFor(model => model.Email)
            </p>
            
            @if (Request.IsAuthenticated && User.IsInRole(RoleName.teacher))
            {
                <p>
                    @Html.ActionLink("Visa alla lärare", "Create") |
                    @Html.ActionLink("Ändra", "Edit", new { email = Model.Email })
                </p>
            }
        </div>

    </div>
</div>