@model Learny.ViewModels.StudentCourseViewModel
@{
    ViewBag.Title = "Kurs";
}

<h2>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.CourseCode)</h2>

<p>
    <h3>Beskrivning</h3>
    @Html.DisplayFor(model => model.Description)
</p>

<p>
    @Html.DisplayNameFor(model => model.StartDate):
    @Html.DisplayFor(model => model.StartDate)
    <br />
    @Html.DisplayNameFor(model => model.EndDate):
    @Html.DisplayFor(model => model.EndDate)
</p>

<ul>
    @foreach (var item in Model.Modules)
    {
        <li>@Html.ActionLink(item.Name, "Module", new { id = item.Id })</li>
    }
</ul>

