@model Learny.ViewModels.StudentCourseModuleViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<p>
    @Html.DisplayFor(model => model.Description)
</p>

<p>
    @Html.DisplayNameFor(model => model.StartDate):
    @Html.DisplayFor(model => model.StartDate)
    <br />
    @Html.DisplayNameFor(model => model.EndDate):
    @Html.DisplayFor(model => model.EndDate)
</p>

<ul>
    @foreach (var item in Model.Activities)
    {
        <li>@Html.ActionLink(item.Name, "Activity", new { id = item.Id })</li>
    }
</ul>

