@model Learny.Models.Course

@{
    ViewBag.Title = "Ta bort";
    bool allowDelete = true;
    if (Model.Documents.Count > 0)
    {
        allowDelete = false;
    }
    else
    {
        foreach (var module in Model.Modules)
        {
            if (module.Documents.Count > 0)
            {
                allowDelete = false;
                break;
            }
            foreach (var activity in module.Activities)
            {
                if (activity.Documents.Count > 0)
                {
                    allowDelete = false;
                    break;
                }
            }
            if (!allowDelete)
            {
                break;
            }
        }
    }
    int nrOfActivities = 0;
    foreach (var item in Model.Modules)
    {
        nrOfActivities += item.Activities.Count;
    }
    int nrOfDocuments = 0;
    if (!allowDelete)
    {
        nrOfDocuments += Model.Documents.Count;
        foreach (var module in Model.Modules)
        {
            nrOfDocuments += module.Documents.Count;
            foreach (var activity in module.Activities)
            {
                nrOfDocuments += activity.Documents.Count;
            }
        }
    }
}

<h2>Ta bort</h2>

<h3>
    Är du säker på att du vill ta bort den här kursen?
    <br />
    Alla elever, moduler och aktiviteter kommer också tas bort.
</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            Antal moduler
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modules.Count)
        </dd>
        <dt>
            Antal aktiviteter
        </dt>
        <dd>
            @Html.DisplayFor(model => nrOfActivities)
        </dd>
        <dt>
            Antal elever
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Students.Count)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (allowDelete)
            {
                <input type="submit" value="Delete" class="btn btn-default" />
            }
            else
            {
                <input type="submit" value="Ta bort" class="btn btn-default" disabled />
            }
            |
            @Html.ActionLink("Tillbaka", "Details", new { id = Model.Id })
            @if (!allowDelete)
            {
                <br />
                <div class="alert alert-danger">
                    <span>Den här kursen eller dens moduler och aktiviteter har @nrOfDocuments dokument.</span>
                </div>
            }
        </div>
    }
</div>
