@model Learny.ViewModels.CourseDetailsViewModel

@{
    ViewBag.Title = "Kurs detaljer";
    List<Learny.Models.CourseModule> modules = Model.Modules.ToList();
    modules.Sort(delegate (Learny.Models.CourseModule a, Learny.Models.CourseModule b) { return a.StartDate.CompareTo(b.StartDate); });

}

<h2>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.CourseCode)</h2>

<p>
    <h3>Beskrivning</h3>
    @Html.DisplayFor(model => model.Description)
</p>

<p>
    @Html.DisplayNameFor(model => model.StartDate):
    @Html.DisplayFor(model => model.StartDate)
    <br />
    @Html.DisplayNameFor(model => model.EndDate):
    @Html.DisplayFor(model => model.EndDate)
</p>

<ul>
    @foreach (var item in modules)
    {
        <li>@Html.ActionLink(item.Name, "Details", "CourseModules", new { id = item.Id }, null)</li>
    }
</ul>

<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till listan", "Index") |
    @Html.ActionLink("Lägg till modul", "Create", "CourseModules", new { id = Model.Id }, null)
</p>
