@model Learny.ViewModels.CourseDetailsViewModel

@{
    ViewBag.Title = "Kurs detaljer";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">

            <h2>@Html.DisplayFor(model => model.FullCourseName)</h2>

            <p>
                @Html.DisplayFor(model => model.Description)
            </p>

            <p>
                @Html.DisplayNameFor(model => model.StartDate):
                @Html.DisplayFor(model => model.StartDate)
                <br />
                @Html.DisplayNameFor(model => model.EndDate):
                @Html.DisplayFor(model => model.EndDate)
            </p>

            <ul>
                @foreach (var item in Model.Modules)
                {
                    <li>@Html.ActionLink(item.Name, "Details", "CourseModules", new { id = item.Id }, null)</li>
                }
            </ul>

            <p>
                @Html.ActionLink("Tillbaka till listan", "Index") |
                @Html.ActionLink("Lägg till modul", "Create", "CourseModules", new { id = Model.Id }, null)
            </p>
        </div>
        <div class="col-sm-4">

            <h2>Elever</h2>
            <p>@Html.ActionLink("Lägg till elev", "CreateStudent", "Account", new { id = Model.Id }, null)</p>

        </div>

    </div>
</div>

