@model Learny.ViewModels.CourseDetailsViewModel
@using Learny.Settings

@{
    ViewBag.Title = Model.FullCourseName;
}

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-8">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <span class="panelHeader">Kurs: @Html.DisplayFor(model => model.FullCourseName)</span>

                    @if (Request.IsAuthenticated && User.IsInRole(RoleName.teacher))
                    {
                        <span class="pull-right">
                            @Html.ActionLink("Ändra", "Edit", new { id = Model.Id })
                        </span>
                    }
                </div>

                <div class="panel-body">
                    <p>
                        @Html.DisplayFor(model => model.Description)
                    </p>

                    <p>
                        @Html.DisplayNameFor(model => model.StartDate):
                        @Html.DisplayFor(model => model.StartDate)
                        <br />
                        @Html.DisplayNameFor(model => model.EndDate):
                        @Html.DisplayFor(model => model.EndDate)
                    </p>

                    <p>
                        @Html.ActionLink("Aktivitets schema", "ShowSchedule", "Courses", new { id = Model.Id }, null)

                        @if (Request.IsAuthenticated && User.IsInRole(RoleName.teacher))
                        {
                            @: |
                            @Html.ActionLink("Lägg till modul", "Create", "CourseModules", new { id = Model.Id }, null)
                        }

                    </p>
                   
                </div>

                <table class="table">
                    <tr>
                        <th class="tHeader"> @Html.DisplayNameFor(model => model.Modules)      </th>
                        <th class="tHeader"> @Html.DisplayNameFor(model => model.StartDate)    </th>
                        <th class="tHeader"> @Html.DisplayNameFor(model => model.EndDate)      </th>
                    </tr>
                    
                    @foreach (var item in Model.Modules)
                    {
                        <tr>
                            <td> @Html.ActionLink(item.Name, "Details", "CourseModules", new { id = item.Id }, null) </td>
                            <td> @Html.DisplayFor(modelItem => item.StartDate)   </td>
                            <td> @Html.DisplayFor(modelItem => item.EndDate)     </td>
                        </tr>
                    }

                </table>

            </div>

        </div>

        <div class="col-sm-1">
            @*Empty column*@
        </div>

        <div class="col-sm-4">

            @if (Model.HaveDocuments || User.IsInRole(RoleName.teacher))
            {
                <div class="panel panel-default">

                    <div class="panel-heading">
                        Dokument
                        @if (Request.IsAuthenticated && User.IsInRole(RoleName.teacher))
                        {
                        <span class="pull-right">
                            @*@Html.ActionLink(" ", "UploadDocument", "Document", new { courseId = Model.Id }, new { @class = "glyphicon glyphicon-plus" })*@
                            @Html.ActionLink("Lägg till dokument", "UploadDocument", "Document", new { courseId = Model.Id }, null)
                        </span>
                        }
                    </div>

                    <div class="panel-body">
                        @Html.Action("Documents", "Document", new { courseId = Model.Id })
                    </div>

                </div>
            }

            <div class="panel panel-default">

                <div class="panel-heading">
                    Deltagare
                    @if (Request.IsAuthenticated && User.IsInRole(RoleName.teacher))
                    {
                    <span class="pull-right">
                        @*@Html.ActionLink(" ", "Create", "Student", new { id = Model.Id }, new { @class = "glyphicon glyphicon-plus" })*@
                        @Html.ActionLink("Lägg till deltagare", "Create", "Student", new { id = Model.Id }, null)
                    </span>
                    }
                </div>

                <div class="panel-body">
                    @Html.Action("Students", "Student", new { id = Model.Id })
                </div>

            </div>

        </div>

    </div>
</div>
