@model Learny.ViewModels.CourseDetailsViewModel

@{
    ViewBag.Title = "Kurs detaljer";
}

<h2>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.CourseCode)</h2>

<p>
    @Html.DisplayFor(model => model.Description)
</p>

<p>
    @Html.DisplayNameFor(model => model.StartDate):
    @Html.DisplayFor(model => model.StartDate)
    <br />
    @Html.DisplayNameFor(model => model.EndDate):
    @Html.DisplayFor(model => model.EndDate)
</p>

<ul>
    @foreach (var item in Model.Modules)
    {
        <li>@Html.ActionLink(item.Name, "Details", "CourseModules", new { id = item.Id }, null)</li>
    }
</ul>

<p>
    @Html.ActionLink("Tillbaka till listan", "Index") |
    @Html.ActionLink("Lägg till modul", "Create", "CourseModules", new { id = Model.Id }, null)
</p>
