@model Learny.ViewModels.ScheduleViewModel

@{
    ViewBag.Title = Model.FullCourseName;

}



<div class="panel panel-default">

    <div class="panel-heading">
        <span class="panelHeader">@Html.DisplayFor(model => model.FullCourseName)</span>
    </div>

    <div class="panel-body">

        <p>
            @Html.ActionLink("Tillbaka till kursen", "Details", "Courses", new { id = Model.CourseId }, null)
        </p>

        <table class="table">
            <tr>
                <th> <h4>Datum</h4>                </th>
                <th> <h4>Dag</h4>                </th>
                <th> <h4>Modul Namn</h4>                </th>
                <th> <h4>Activitet Namn</h4>                </th>
            </tr>

            @foreach (var item in Model.ScheduleEntries)
            {
                if (DateTime.Today == item.CurrentDate.Date)
                {
                    <tr class="alert alert-success" id="today">
                        <td> @Html.DisplayFor(modelItem => item.CurrentDate)  </td>
                        <td> @Html.DisplayFor(modelItem => item.CurrentDay) </td>
                        <td>
                            @if (item.ModuleName != null)
                    {
                                @Html.ActionLink(item.ModuleName, "Details", "CourseModules", new { id = item.ModuleId }, null)
                            }
                        </td>
                        <td>
                            <ul>
                                @if (item.Activities != null)
                                {
                                    foreach (var activity in item.Activities)
                                    {
                                        <li>
                                            @Html.ActionLink(activity.Name, "Details", "ModuleActivities", new { id = activity.Id }, null)
                                        </li>
                                    }
                                }
                            </ul>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CurrentDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.CurrentDay)</td>
                        <td>
                            @if (item.ModuleName != null)
                    {
                                @Html.ActionLink(item.ModuleName, "Details", "CourseModules", new { id = item.ModuleId }, null)
                            }
                        </td>
                        <td>
                            <ul>
                                @if (item.Activities != null)
                                {
                                    foreach (var activity in item.Activities)
                                    {
                                        <li>
                                            @Html.ActionLink(activity.Name, "Details", "ModuleActivities", new { id = activity.Id }, null)
                                        </li>
                                    }
                                }
                            </ul>
                        </td>
                    </tr>
                }
            }
        </table>
        <p>
            @Html.ActionLink("Tillbaka till kursen", "Details", "Courses", new { id = Model.CourseId }, null)
        </p>

    </div>
</div>

@section styles{
    <style>
        ul {
            margin-bottom: 0px;
            margin-top: 0px;
        }
    </style>
}
@section scripts{
    <script>
            location.href = "#today";
    </script>
    }