@model Learny.ViewModels.ScheduleViewModel

@{
    ViewBag.Title = Model.FullCourseName;

}

<h2>Schedule</h2>
<h2>@Html.DisplayFor(model => model.FullCourseName)</h2>

<table class="table">
    <tr>
        <th>
            <h4>Datum</h4>
        </th>
        <th>
            <h4>Dag</h4>
        </th>
        <th>
            <h4>Modul Namn</h4>
        </th>
        <th>
            <h4>Activitet Namn</h4>
        </th>
    </tr>

    @foreach (var item in Model.ScheduleEntries)
    {
        if (DateTime.Today == item.CurrentDate.Date)
        {
            <tr class="alert alert-success" id="today">
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleName)
                </td>
                <td>
                    <ul>
                        @*class="alert alert-success">*@
                        @foreach (var activity in item.ActivityNamesList)
                        {
                            <li>@activity</li>
                        }
                    </ul>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleName)
                </td>
                <td>
                    <ul>
                        @*class="alert alert-success">*@
                        @foreach (var activity in item.ActivityNamesList)
                        {
                            <li>@activity</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    }
</table>
<p>
    @Html.ActionLink("Tillbaka till kurs översikt", "Details", "Courses", new { id = Model.CourseId }, null)
</p>

@section styles{
    <style>
        ul {
            margin-bottom: 0px;
            margin-top: 0px;
        }
    </style>
}
@section scripts{
    <script>
            location.href = "#today";
    </script>
    }