@model Learny.ViewModels.ScheduleViewModel

@{
    ViewBag.Title = Model.FullCourseName;

}

<h2>Schedule</h2>
<h2>@Html.DisplayFor(model => model.FullCourseName)</h2>

<table class="table">
    <tr>
        <th>
            <h4>Datum</h4>
        </th>
        <th>
            <h4>Dag</h4>
        </th>
        <th>
            <h4>Modul Namn</h4>
        </th>
        <th>
            <h4>Activitet Namn</h4>
        </th>
    </tr>


    @foreach (var item in Model.ScheduleEntries)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td>
                <ul>
                    @*class="alert alert-success">*@
                    @foreach (var activity in item.ActivityNamesList)
                    {
                        if (DateTime.Compare(DateTime.Today, item.CurrentDate.Date) == 0)
                        {
                            @*<li class="alert alert-success">@activity</li>*@
                            <li><div class="blink"><span class="blinkspan">@activity</span></div></li>
                        }
                        else
                        {
                            <li>@activity</li>
                        }
                    }
                </ul>
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Tillbaka till kurs översikt", "Details", "Courses", new { id = Model.CourseId }, null)
</p>

