@model Learny.ViewModels.ScheduleViewModel

@{
    ViewBag.Title = Model.FullCourseName;

}

@Html.Action("NavigationLinks", "Home", new { idType = Learny.Controllers.HomeController.IdType.Course, id = Model.CourseId })

<div class="panel panel-default">

    <div class="panel-heading">
        <span class="panelHeader">@Html.DisplayFor(model => model.FullCourseName)</span>
    </div>

    <div class="panel-body">

        <table class="table">
            <tr>
                <th> <h4>Datum</h4>      </th>
                <th> <h4>Dag</h4>        </th>
                <th> <h4>Modul</h4>      </th>
                <th> <h4>Typ</h4>      </th>
                <th> <h4>Aktivitet</h4>  </th>
            </tr>

            @foreach (var item in Model.ScheduleEntries)
            {
                if (DateTime.Today == item.CurrentDate.Date)
                {
                    <tr class="alert alert-success" id="today">
                        <td> @Html.DisplayFor(modelItem => item.CurrentDate)  </td>
                        <td> @Html.DisplayFor(modelItem => item.CurrentDay) </td>
                        <td>
                            <ul>
                                @if (item.Activities != null)
                                {
                                    foreach (var activity in item.Activities)
                                    {
                                        <li>
                                            @if (activity.Module.Name != null)
                                            {
                                                @Html.ActionLink(activity.Module.Name, "Details", "CourseModules", new { id = activity.Module.Id }, null)
                                            }
                                        </li>
                                    }
                                }
                            </ul>
                        </td>
                        <td>
                            <ul>
                                @if (item.Activities != null)
                                {
                                    foreach (var activity in item.Activities)
                                    {
                                        <li>
                                            @Html.DisplayFor(modelActivity => activity.ActivityType.ShortName)
                                        </li>
                                    }
                                }
                            </ul>
                        </td>
                        <td>
                            <ul>
                                @if (item.Activities != null)
                                {
                                    foreach (var activity in item.Activities)
                                    {
                                        <li>
                                            @Html.ActionLink(activity.Name, "Details", "ModuleActivities", new { id = activity.Id }, null)
                                        </li>
                                    }
                                }
                            </ul>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => item.CurrentDate)  </td>
                        <td> @Html.DisplayFor(modelItem => item.CurrentDay) </td>
                        <td>
                            <ul>
                                @if (item.Activities != null)
                                {
                                    foreach (var activity in item.Activities)
                                    {
                                        <li>
                                            @if (activity.Module.Name != null)
                                            {
                                                @Html.ActionLink(activity.Module.Name, "Details", "CourseModules", new { id = activity.Module.Id }, null)
                                            }
                                        </li>
                                    }
                                }
                            </ul>
                        </td>
                        <td>
                            <ul>
                                @if (item.Activities != null)
                                {
                                    foreach (var activity in item.Activities)
                                    {
                                        <li>
                                            @Html.DisplayFor(modelActivity => activity.ActivityType.ShortName)
                                        </li>
                                    }
                                }
                            </ul>
                        </td>
                        <td>
                            <ul>
                                @if (item.Activities != null)
                                {
                                    foreach (var activity in item.Activities)
                                    {
                                        <li>
                                            @Html.ActionLink(activity.Name, "Details", "ModuleActivities", new { id = activity.Id }, null)
                                        </li>
                                    }
                                }
                            </ul>
                        </td>
                    </tr>
                }
            }
        </table>
        <p>
            @Html.ActionLink("Tillbaka till kursen", "Details", "Courses", new { id = Model.CourseId }, null)
        </p>

    </div>
</div>

@section styles{
    <style>
        ul {
            margin-bottom: 0px;
            margin-top: 0px;
        }
    </style>
}
@section scripts{
    <script>
        location.href = "#today";
    </script>
}