@model Learny.Models.Document

@{
    ViewBag.Title = "Ta bort";
    string controller = null;
    int? entityId = null;
    if (Model.ModuleActivityId != null)
    {
        controller = "ModuleActivities";
        entityId = Model.ModuleActivityId;
    }
    else if (Model.CourseModuleId != null)
    {
        controller = "CourseModules";
        entityId = Model.CourseModuleId;
    }
    else if (Model.CourseId != null)
    {
        controller = "Courses";
        entityId = Model.CourseId;
    }
}


<div class="panel panel-default">

    <div class="panel-heading">

        <span class="panelHeader">Är du säker på att du vill ta bort det här dokumentet?</span>

    </div>

    <div class="panel-body">

        <dl class="dl-horizontal">
            <dt>
                Dokument
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DisplayName)
            </dd>

            @if (Model.ModuleActivityId != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Activity.Module.Course)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Activity.Module.Course.FullCourseName)
                </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Activity.Module)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Activity.Module.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Activity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Activity.Name)
                    </dd>
            }
            else if (Model.CourseModuleId != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Module.Course)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Module.Course.FullCourseName)
                </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Module)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Module.Name)
                    </dd>
            }
            else if (Model.CourseId != null)
            {
                <dt>
                    Kurs
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course.FullCourseName)
                </dd>
            }

            <dt>
                @Html.DisplayNameFor(model => model.User)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TimeStamp)
            </dd>

            @if (Model.Description != null && Model.Description != string.Empty)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            }

        </dl>

        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Ta bort" class="btn btn-default" /> |
                @Html.ActionLink("Tillbaka", "Details", controller, new { id = entityId }, null)
            </div>
        }
    </div>
</div>

